.friends {
    display: block;
    border: 2px white solid;
    padding: 10px;
    width: 100%;
}

.friendsTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.findFriendsContainer {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.addContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.addFriendButton {
    width: 10em;
    height: 3em;
    margin-top: 1em;
    margin-left: 1.5em;
}

.friend {
    display: flex;
    margin: 1em;
    border: 1px white solid;
    padding: 0.5em;
}

.allFriendsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deleteFriendButton {
    height: 2em;
    margin-top: 1em;
    margin-left: 1.5em;
}