.messagesWindow {
    border: 1px solid;
    /* width: 60em; */
    padding: 1em;
    height: 400px;
    overflow: auto;
    
}

.message {
    margin-top: 0.75em;
}

.allMessageBox {
    flex: 1 0 50%;
    border: 1px solid;
    padding: 1em;
    margin: 0 2em 0 2em;
}

.msgDelete {
    float: right;
    cursor: pointer;
}

.messagesWindow {
    overflow-anchor: none;
}

.spacerDiv {
    height: 1em;
    overflow-anchor: auto;
}